body{
    background-color: rgb(4, 29, 29);
    font-family: monospace;
    height: 100vh;
    overflow: hidden;
 }
 .container{
    width: 40%;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
 }

 .container h1{
    font-size: 40px;
 }

 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    border-radius: 10px;
    outline: none;
    font-size: 19px;
 }
 button{
    width: 60px;
    height: 41px;
    background-color: rgb(4, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color: rgb(5, 31, 31);
    border-radius: 5px;
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }